.grass
  = image_tag("https://seedly.s3.amazonaws.com/footer.png")
%p
  © 2012 Seedly  
  = link_to "Twitter", "http://twitter.com/seedlyme"
  | 
  = link_to "Facebook", "http://facebook.com/seedlyme"
  | 
  = link_to "Seedly Blog", "http://blog.seedly.me"
  | 
  = link_to "Seedly Shop", "http://shop.seedly.me"