.clear
%br
%footer.footer
  = link_to "Twitter", "http://twitter.com/seedlyme"
  | 
  = link_to "Facebook", "http://facebook.com/seedlyme"
  | 
  = link_to "Seedly Blog", "http://blog.seedly.me"
  - if current_user.present?
    |
    = link_to "Sign Out", destroy_user_session_path
  - else
    | 
    = link_to "Sign In", new_user_session_path