.navbar
  .navbar-inner
    .container
      = link_to image_tag("https://seedly.s3.amazonaws.com/logo_small.png"), "/", :class => "brand"
      %ul(class="nav")
        - if current_user.present?
          %li(class="#{controller.action_name == 'dashboard' ? 'active' : ''}")
            %a(href = "/dashboard") Dashbaord
        %li(class="#{controller.action_name == 'how_this_works' ? 'active' : ''}")
          = link_to "How This Works", how_works_path
        %li(class="#{controller.action_name == 'about' ? 'active' : ''}")
          = link_to "About Us", about_path
