- date = params[:date].present? ? @date.strftime("%A, %b #{@date.day.ordinalize}") : "This week"
- if @postal_code.present?
  %h2
    ="#{date} in #{@postal_code.city.titleize} you can plant..."
- if @postal_code.present?
  %p
    Your Zip
    = params[:postal_code]
    = link_to "change", "#", :"data-toggle" => "collapse", :"data-target" => "#lookup", :id => "show_lookup_form"
#lookup{:class => @postal_code.blank? ? '' : 'collapse'}
  = render "postal_codes/zip_lookup"
- if @growing_zone.blank? || @postal_code.blank?
  - if params[:postal_code].present?
    %p
      Hmmm, we couldn't find that zip code.
- else
  %form{:action => "/users/simple_signup", :class => "form-inline"}
    %input{:type => "hidden", :name => "zip", :value => params[:postal_code]}
    .clear
    %br
    %label{:id => "show-container-only", :class => "checkbox"}
      %input{:name => "container", :type => "checkbox", :id => "only-container"}
      Show container plants only
  - if @planting_times.present?
    .plants-list
      - unique_plants = @planting_times.uniq{|pt| pt.plant_id}
      - unique_plants.each do |planting_time|
        .plant{:class => [planting_time.plant.sun_requirements, planting_time.plant.difficulty, planting_time.plant.container_capable]}
          .name= planting_time.plant.name
          .image
            = image_tag(planting_time.plant.drawing_image_url, :class => 'drawing')
          = link_to "details", "#", :"data-target" => "#{planting_time.plant.id}", :class => "show-plant-details"
    .plant-details
      - unique_plants.each do |planting_time|
        .plant.hidden{:id => planting_time.plant.id}
          .name= planting_time.plant.name
          %p
            This is a very long description of stuff
          %p
            another paragraph
          %p
            And yet one more
    %h4 Sign up Free
    %label
      %input{:name => "email", :type => :text, :class => "input-medium", :placeholder => "your email"}
      %input{:type => "submit", :class => "btn", :value => "Signup!"}

  %p  
    - forecast = WeatherUnderground.get_forecast_in_json(params[:postal_code])
  - if forecast.present?
    %h3="Weather Forecast for #{@postal_code.city.titleize}"
    .forecast
      - forecast.each do |day|
        - if day["period"].even?
          .day
            %p
              %b= day["title"]
            = image_tag(day["icon_url"], :title => day["fcttext"])
            %p= day["fcttext"]
            %a{:href => "#", :rel => "popover", :"data-content" => day["fcttext"], :"data-original-title" => "Weather for #{day['title']}"} details
            