- date = params[:date].present? ? @date.strftime("%A, %b #{@date.day.ordinalize}") : "This week"
- if @postal_code.present?
  %h2
    ="#{date} in #{@postal_code.city.titleize} you can plant..."
- if @postal_code.present?
  %p
    Your Zip
    = params[:postal_code]
    = link_to "change", "#", :id => "show-lookup-form"
#lookup{:class => @postal_code.blank? ? '' : 'hidden'}
  = render "postal_codes/zip_lookup"
- if @growing_zone.blank? || @postal_code.blank?
  - if params[:postal_code].present?
    %p
      Hmmm, we couldn't find that zip code.
- else
  %form{:action => "/users/simple_signup", :class => "form-inline"}
    %input{:type => "hidden", :name => "zip", :value => params[:postal_code]}
    .clear
    %br
    %label{:id => "show-container-only", :class => "checkbox"}
      %input{:name => "container", :type => "checkbox", :id => "only-container"}
      Show container plants only
  - if @planting_times.present?
    .plants-list
      - unique_plants = @planting_times.uniq{|pt| pt.plant_id}
      - veggies = unique_plants.find_all {|pt| pt.plant.plant_type == "vegetable"}
      - herbs = unique_plants.find_all {|pt| pt.plant.plant_type == "herb"}
      - if veggies.any?
        %p
          %b Vegetables
        = render :partial => 'shared/plant_list', :locals => {:planting_times => veggies}
      - if herbs.any?
        %p
          %b Herbs
        = render :partial => 'shared/plant_list', :locals => {:planting_times => herbs}
    .plant-details
      - unique_plants.each do |planting_time|
        - plant = planting_time.plant
        .plant{:id => plant.id, :class => planting_time == unique_plants.first ? '' : 'hidden'}
          .name= plant.name
          %p
            = plant.description
            
          %p
            %b 
              Growing
              = plant.name
          - if @planting_times.find_all {|pt| pt.plant == plant && pt.season_type == "transplant_outside_spring"}.any?
            %p
              ="The easiest way to grow #{plant.name.downcase} is to buy seedlings at your local farmers market."
          - else
            %p
              - day = Time.now.advance(:days => plant.days_to_harvest).to_date.day
              ="#{plant.name} take about #{plant.days_to_harvest} days from seed to harvest. Plant now, and they'll be ready about #{Time.now.advance(:days => plant.days_to_harvest).to_date.strftime('%B')} #{day.ordinalize}."
          - if plant.is_succession
            %p
              It's best to plant them in succession. Meaning, plant 1/3 of your plants, wait a couple weeks, and then plant the next 1/3.  This will keep you from being overwhelmed with too many
              = "#{plant.name} all at once."
          %p
            %b How we help
          - if @planting_times.find_all {|pt| pt.plant == plant && pt.season_type == "transplant_outside_spring"}.any?
            %p= "We have videos on how to choose seedlings and the proper way to plant them."
          - else
            %p= "Our videos and diagrams show exactly how to plant seeds for #{plant.name}."
          %p
            ="We'll send you notifications about when and how to water, when and how to harvest, and we'll even provide you with some #{plant.name.downcase} recipes come harvesting time."
          
    .signup
      %h4 Sign up Free
      %label
        %input{:name => "email", :type => :text, :class => "input-medium", :placeholder => "your email"}
        %input{:type => "submit", :class => "btn", :value => "Signup!"}

  %p  
    - forecast = WeatherUnderground.get_forecast_in_json(params[:postal_code])
  - if forecast.present?
    %h3="Weather Forecast for #{@postal_code.city.titleize}"
    .forecast
      %table
        %tr
          - forecast.each do |day|
            - if day["period"].even?
              %td
                .day
                  %p
                    %b= day["title"]
                  = image_tag(day["icon_url"], :title => day["fcttext"])
                  %p= day["fcttext"]