
.hero-unit
  %h1.small The Easiest Way to Start a Garden
  %br
  %center
    %form{:action => "/lookup_zip", :class => "form-inline"}
      %input{:name => "postal_code", :type => :text, :class => "input home", :placeholder => "your zip", :value => params[:postal_code]}
      = submit_tag("Get Started &#187;".html_safe, options = {:class => "btn home"})
%center
  %h1 How Seedly Helps
  
  .step
    = image_tag("https://seedly.s3.amazonaws.com/diggin.png")
    %h3
      We start by giving you short, specific directions for exactly what you need to do to prepare (or build) your raise beds or containers for gardening.
    
  .step
    = image_tag("https://seedly.s3.amazonaws.com/gettin_updates.png")
    %h3
      Using your zip code, we send you personalized expert advice throughout the season.  You won't be overwhelmed as we'll send just what you need to know, just when you need to know it.
  .step
    = image_tag("https://seedly.s3.amazonaws.com/watering.png")
    %h3
      We even monitor your weather and send you notifications about when your plants are thirsty. 

%center
  %h3
    Seedly is totally free.  Always will be.
    %br
    Start by entering your zip
  #lookup
    = render "postal_codes/zip_lookup"

