
= content_for :top_content do
  .heading
    .main
      Receive personalized gardening advice and reminders 
      %br
      &nbsp; throughout the growing season. 
      %br
      %br
      Think of us as the 
      %b
        Simon Says 
      of gardening (just follow along).
%br
    
%table.main
  %tr
    %td.first
      = image_tag("https://seedly.s3.amazonaws.com/diggin.jpg")
    %td
      After you purchase and register your Seedly garden kit, we'll ship your seeds (on seed strips!) when your growing zone is ready for planting.
  %tr
    %td
      We send you personalized expert advice throughout the season.  You won't be overwhelmed as we'll send just what you need to know, just when you need to know it.
    %td
      = image_tag("https://seedly.s3.amazonaws.com/gettin_updates.jpg")
  %tr
    %td
      = image_tag("https://seedly.s3.amazonaws.com/watering.jpg")
    %td
      We monitor your growing conditions and send you notifications about exactly what to do.  If you haven't had rain in a few days, we might give you a little nudge to water.

.center{:style => "margin: 0 auto; width: 500px"}
  %h3
    Ready to garden with Seedly?  Start by 
    = link_to "choosing a kit »", choose_kit_path

