!!! 5
%html{html_attrs}
  %head
    = csrf_meta_tag
    %title= (title = yield(:title).strip).present? ? title : "Seedly"
    %meta{:name => 'description', :content => 'Plant a possibility.'}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = favicon_link_tag
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>

  %body
    #content
      #header
        = render 'shared/header'
            
      #container
        - if flash.any?
          - flash.each do |type, message|
            %div(class="alert-message #{type}")= message

        = yield
      #footer
        = render 'shared/footer'
          