!!! 5
%html{html_attrs}
  %head
    = csrf_meta_tag
    %title= (title = yield(:title).strip).present? ? title : "Seedly"
    %meta{:name => 'description', :content => 'The Simon Says of gardening (just follow along). Kits and personalized information to help the gardener succeed.'}
    = stylesheet_link_tag    "content"
    = javascript_include_tag "application"
    = favicon_link_tag
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="https://seedly.s3.amazonaws.com/carrots.png" / >
    <link rel="image_src" href="https://seedly.s3.amazonaws.com/beets.png" / >
    <link rel="image_src" href="https://seedly.s3.amazonaws.com/kale.png" / >

  %body
    #content
      #header
        .content
          = render 'shared/header'
      #topcontent
        .content
          = yield :top_content
        
            
      #main
        .content
          - if flash.any?
            - flash.each do |type, message|
              %div(class="alert-message #{type}")= message

          = yield
      #footer
        .content
          = render 'shared/footer'
          